name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:

jobs:
  test: # make sure the action works on a clean machine without building
    permissions:
      issues: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
      - uses: ./
        with:
          package-manager: pnpm
      - uses: ./
        with:
          working-directory: test/sample
      - uses: ./
        with:
          working-directory: test/esm-sample
      - uses: ./
        with:
          working-directory: test/bun-workspace
          package-manager: bun
      - uses: ./
        with:
          working-directory: test/npm-workspace
          package-manager: npm
      - uses: ./
        with:
          working-directory: test/pnpm-workspace
          package-manager: pnpm
